<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/custom_adm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Login MVC</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="bars">
                <i class="fa-solid fa-bars"></i>
            </div>
            <img src="images/users/images.png" alt="logo" class="logo">
        </div>

        <div class="navbar-container">
            <div class="notification">
                <i class="fa-solid fa-bell"></i>
                <span class="number">7</span>
                <div class="dropdown-menu">
                    <div class="dropdown-content">
                        <li>
                            <img src="images/users/images.png" alt="userImg" width="40">
                            <div class="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </div>
                        </li>
                    </div>
                </div>
            </div>

            <div class="avatar">
                <img src="images/users/images.png" alt="userImg">
                <div class="dropdown-menu setting">
                    <div class="item">
                        <span class="fa-solid fa-user"></span> Perfil
                    </div>
                    <div class="item">
                        <span class="fa-solid fa-gear"></span> configuração
                    </div>
                    <div class="item">
                        <span class="fa-solid fa-arrow-right-from-bracket"></span> sair
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="sidebar active">
            <a href="index.html" class="sidebar-nav active">
                <i class="icon fa-solid fa-house"></i>
                <span>Dashbord</span>
            </a>

            <a href="listar.html" class="sidebar-nav">
                <i class="icon fa-solid fa-users"></i>
                <span>Listar</span>
            </a>

            <a href="login.html" class="sidebar-nav">
                <i class="icon fa-solid fa-arrow-right-from-bracket"></i>
                <span>Sair</span>
            </a>
        </div>

        <div class="wrapper">
            <div class="row">
                <div class="box box-first">
                    <span class="fa-solid fa-users"></span>
                    <span>397</span>
                    <span>Usuários</span>
                </div>

                <div class="box box-second">
                    <span class="fa-solid fa-truck-ramp-box"></span>
                    <span>43</span>
                    <span>Entregas</span>
                </div>

                <div class="box box-third">
                    <span class="fa-solid fa-circle-check"></span>
                    <span>13</span>
                    <span>completas</span>
                </div>

                <div class="box box-fourth">
                    <span class="fa-solid fa-triangle-exclamation"></span>
                    <span>3</span>
                    <span>Alertas</span>
                </div>
            </div>
        </div>
    </div>

    <script src="js/custom_adm.js"></script>
</body>
</html>